Source: g-sys-info
Section: utils
Priority: optional
Maintainer: Glenn de Haan <glenn@dehaan.cloud>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://github.com/glenndehaan/bash-utils
Vcs-Browser: https://github.com/glenndehaan/bash-utils
Vcs-Git: https://github.com/glenndehaan/bash-utils.git

Package: g-sys-info
Architecture: all
Depends: ${misc:Depends}
Description: System info
 A simple System info reporting tool
